@page "/login"

<h3>外部サービスでログイン</h3>
<a href="/signin-google"><button>Googleでサインイン</button></a>
<a href="/signin-apple"><button>Appleでサインイン</button></a>
<a href="/signin-twitter"><button>X(Twitter)でサインイン</button></a>
<a href="/signin-line"><button>LINEでサインイン</button></a>
